body {
  font-family: Roboto, sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
  margin: 0;
}

.nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 15px;
  position: relative;
  display: block;
  color: #000;
  margin-right: 20px;
  padding-top: 22.5px;
  padding-bottom: 22.5px;
}

nav a.is-active,
nav a:hover {
  color: #00acdc;
}

nav a.is-active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: #00acdc;
}

nav a.is-active-3 {
  margin-right: 0;
}

.header nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.header {
  align-items: center;
  display: flex;
  height: 60px;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 50px;
}

.logo {
  display: block;
  width: 40px;
  height: 40px;
}
